@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Web Hooks Client</h1>
    <p class="lead">This Website is a webhooks receiver.</p>
   
</div>

<div id="webHooksLog">
   
</div>

@section scripts{
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            var hub = $.connection.webHooksHub;
            hub.client.webHooksLog = function (data) {
                var log ="<div><strong>WebHook Received:</strong>" + JSON.stringify(data) + "<p></div>"
                $("#webHooksLog").append(log); 
            };


            $.connection.hub.start().done(function () {
                console.log('signalR started!');
            });
        });
    </script>
    }